#layout {
  & pre[class*='language-'] {
    margin-bottom: 1.66rem;
    font-size: 0.8rem;
    border-radius: 10px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & .language-text {
    font-size: 0.85rem;
    color: #fff;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    word-spacing: normal;
    white-space: pre;
    word-wrap: normal;
    line-height: 1.5;
    padding: 3px 7px;
    border: 0;
    // border-radius: 10px;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  &.dark {
    .language-text {
      background: #00738d;
    }
  }

  &.light {
    .language-text {
      background: #226699;
    }
  }
}
