---
import { Icon } from 'astro-icon';

import { footerLinks } from '@/utils/appConfig';
import { generateCopyright } from '@/utils/helpers';

const d = new Date();
const year = d.getFullYear();
---

<hr />
<footer class="flex justify-between items-center p-4 sm:px-0 sm:py-6">
  <div>{generateCopyright(year)}</div>
  <div class="flex justify-between items-center w-[40%] sm:w-1/5">
    {
      footerLinks.map(({ id, href, iconName }) => (
        <a href={href} class="w-6 sm:w-7" target="_blank" rel="noopener">
          <Icon name={iconName} id={id} />
        </a>
      ))
    }
  </div>
</footer>
