---
import ThemeButton from '@/components/atom/ThemeButton.astro';
---

<nav class="flex justify-between items-center p-4 sm:px-0 sm:py-6">
  <a href="/" class="text-xl font-bold">Hello Luffy</a>
  <!-- <div class="flex justify-between items-center w-1/4">
    <a href="/articles">Articles</a>
    <a href="/tags">Tags</a>
    <a href="/about">About</a>
  </div> -->
  <ThemeButton />
</nav>
<hr />
