/* 
GenSekiGothic: https: //github.com/ButTaiwan/genseki-font
*/

/* GenSekiGothic Light */
@font-face {
  font-family: 'GenSekiGothic';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/GenSekiGothic-L.ttc')  format('truetype');
}
/* GenSekiGothic Regular */
@font-face {
  font-family: 'GenSekiGothic';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/GenSekiGothic-R.ttc')  format('truetype');
}

/* GenSekiGothic Medium */
@font-face {
  font-family: 'GenSekiGothic';
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/GenSekiGothic-M.ttc')  format('truetype');
}

/* GenSekiGothic Bold */
@font-face {
  font-family: 'GenSekiGothic';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/GenSekiGothic-B.ttc')  format('truetype');
}

/* GenSekiGothic Heavy */
@font-face {
  font-family: 'GenSekiGothic';
  font-style: normal;
  font-weight: 900;
  src: url('/src/assets/fonts/GenSekiGothic-H.ttc')  format('truetype');
}

/* FiraCode Regular */
@font-face {
  font-family: 'FiraCode Regular';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/FiraCode-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
}
